<% if user_signed_in? %>
Olá, <%= current_user.name %>!
<%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
<% end %>

<div class="d-flex flex-row align-items-center landing">
    <div class= "landing__texto w-50">
        <h1>Mainô Connect: Um Espaço para Compartilhar e Inspirar.</h1>
        <h4 class="mt-3"> Onde Histórias, Ideias e Conexões Ganham Vida e Significado.</h4>
    </div>
    <div class="landing__img w-50">
        <%= image_tag "banner1.png", class: "d-block w-100", alt: "Banner" %>
    </div>
</div>