/*
 *= require_tree .
 *= require_self
*/
:root {
    --cor-fundo: #e0e1dd;
    --cor-fundo-secundaria: #d6ccc2;
    --cor-texto: #333333;
    --cor-botao: #003049;

    --fonte-principal: 'Inter', sans-serif;
    --font-xl: 3.1rem;
    --font-large: 2.3rem;
    --font-medium: 1.2rem;
    --font-small: 1.1rem;
    --font-xsmall:1rem;

    --spacing-xsmall: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}

body {
    background-color: var(--cor-fundo) !important;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}

header {
    margin-top: 30px;

}

.logo_maino {
    margin-left: 3rem;
}

.header__item {
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: var(--font-medium);
    margin-top: 1rem;
}

.header__button {
    margin-right: 3rem;
}

.header__link {
    color: var(--cor-texto);
    text-decoration: none;
    padding: 20px;
}

.header__button.nav-link.btn {
    border: 2px solid var(--cor-botao);
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: var(--font-small);
    transition: all 0.3s ease;
}
.landing {
    margin-top: 3rem
}
.landing__texto, .landing__img {
    padding: 3rem;
    
}
.comment-list {
    max-height: 200px; 
    overflow-y: auto;
    padding-right: 10px; 
}
.card__login {
    border-radius: 30px !important;
    margin-top: 3rem;
}
.button__login {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 30px;
    font-size: var(--font-xsmall);
}
.card_post {
    border-radius: 10px !important;
 
}
  
