/*
 *= require_tree .
 *= require_self
*/


:root {
    --cor-fundo: #F6D9D6;
    --cor-texto: #333333;

}

body {
    background-color: var(--cor-fundo) !important;
    color: var(--cor-texto);
}

header {
    margin-top: 30px;

}