<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para resetar sua senha no Mainô Connnect. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Não você não fez essa solicitaão, por favor ignorar.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha</p>
